body {
	background-color: burlywood;
}

.navigation {
	background-color: brown;
}

#begin-content {
	display: inline-block;
	margin-left: 500px;
}

form {
	display: inline-block;
	width: 100px;
	background-color: white;
}

.guessBtn {
	display: inline-block;
	cursor: pointer;
}
