body {
	background-color: burlywood;
}

.navigation {
	background-color: brown;
}

#page-container {
	width: 800px;
	margin: 0 auto;
}

.quote-card {
	text-align: center;
}

/* #quote-container {
	display: block;
	text-align: center;
} */
