body {
	background-color: burlywood;
}

#main {
	position: relative;
}

.navigation {
	background-color: brown;
}

form {
	display: inline-block;
	width: 100px;
	background-color: white;
}

.guessBtn {
	position: absolute;
	cursor: pointer;
	top: auto;
	left: auto;
}

.quotePar {
	position: absolute;
}
